/* ==================
|	 自定义滚动条     |
================== */

*::-webkit-scrollbar {
  border-radius: 10px;
  background: #535353;
}
*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: #535353;
}
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: #ededed;
}

/* ==================
  |	   页面主题颜色    	|
  ================== */

/* 文本颜色 */
.theme-text-color {
  color: rgba(0, 170, 255, 0.6);
}

/* 背景颜色 */
.theme-bgcolor {
  background-color: rgba(0, 170, 255, 0.6);
}
