/* ------ 
		---> 	自定义样式
										------ */

/*  
		---> 	对display进行扩展 
 */
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-8 {
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/*  
		---> 	对padding进行扩展
 */
.p-6 {
  padding: 2.5rem !important;
}

.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}

.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}

.p-7 {
  padding: 3rem !important;
}

.pt-7,
.py-7 {
  padding-top: 3rem !important;
}

.pr-7,
.px-7 {
  padding-right: 3rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}

.pl-7,
.px-7 {
  padding-left: 3rem !important;
}

/*  
		---> 	对Margin扩展
 */
.m-6 {
  margin: 2.5rem !important;
}

.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
/*  
		---> 	对文本扩展
 */
.text-purple {
  color: #9650c5 !important;
}

.text-pink {
  color: #d14e8b;
}

.text-small {
  font-size: 12px !important;
}

.text-14-px {
  font-size: 14px !important;
}

.text-16-px {
  font-size: 16px !important;
}

.text-18-px {
  font-size: 18px !important;
}

.text-20-px {
  font-size: 20px !important;
}
/*  
		---> 	对BOX边角扩展
 */
.rounded-25-px {
  border-radius: 25px;
}
.rounded-25-px {
  border-radius: 25px;
}
.rounded-15-px {
  border-radius: 15px;
}
.rounded-5-px {
  border-radius: 5px;
}

.rounded-25-per {
  border-radius: 25%;
}
.rounded-25-per {
  border-radius: 25%;
}
.rounded-15-per {
  border-radius: 15%;
}
.rounded-5-per {
  border-radius: 5%;
}

/* 左上圆角百分比 */
.rounded-top-left-50-per {
  border-top-left-radius: 50%;
}

.rounded-top-left-30-per {
  border-top-left-radius: 30%;
}

.rounded-top-left-25-per {
  border-top-left-radius: 25%;
}

.rounded-top-left-20-per {
  border-top-left-radius: 20%;
}

.rounded-top-left-15-per {
  border-top-left-radius: 15%;
}

.rounded-top-left-10-per {
  border-top-left-radius: 10%;
}

.rounded-top-left-5-per {
  border-top-left-radius: 5%;
}

/* 右上圆角百分比 */
.rounded-top-right-5-per {
  border-top-right-radius: 5%;
}

.rounded-top-right-10-per {
  border-top-right-radius: 10%;
}

.rounded-top-right-15-per {
  border-top-right-radius: 15%;
}

.rounded-top-right-20-per {
  border-top-right-radius: 20%;
}

.rounded-top-right-25-per {
  border-top-right-radius: 25%;
}

.rounded-top-right-30-per {
  border-top-right-radius: 30%;
}

.rounded-top-right-50-per {
  border-top-right-radius: 50%;
}
/*  
		---> 	对高度扩展
 */
.h-30-px {
  height: 30px !important;
}
.h-25-px {
  height: 25px !important;
}
.h-20-px {
  height: 20px !important;
}
.h-15-px {
  height: 15px !important;
}
.h-10-px {
  height: 10px !important;
}
.h-5-px {
  height: 5px !important;
}
.h-0-px {
  height: 0px !important;
}

/*  
		---> 	reset：清除所有h1~h6的margin
 */
h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}
