.full-screen {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
[data-select] {
  user-select: text !important;
}
[data-select]::selection {
  color: white;
  background-color: black;
  text-shadow: none;
}
.d-tips {
  background-color: #003049;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  display: inline-block;
  position: absolute;
  letter-spacing: 2px;
}
