{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ]
    ],
    "plugins": [
      [
        "component",
        {
          "libraryName": "MyUI",
          "libDir": "lib",
          "styleLibrary": {
            "name": "styles",
            "base": false,
            "path": "[module].css"
          }
        }
      ]
    ]
  }